<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Maps / Foursquare Api Application</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">
  </head>
  <body ng-app="myApp" ng-controller="myCtrl">
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container">
          <abbr title="Home | Reset App"><a href="index.html" class="pull-left glyphicon glyphicon-home"></a></abbr>
          <div class="navbar-header">
            <abbr title="Expand | Collapse Menu">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="true">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </abbr>
          </div>
          <div class="navbar-collapse collapse in" id="navbar-collapse">
            <form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <input ng-model="currentLocation" class="form-control" type="text" placeholder="Current Location">
                <input ng-model="interest" class="form-control" type="text" placeholder="I'm looking for...">
                <input ng-model="destination" class="form-control" type="text" placeholder="Near">
                <button ng-click="find()" class="form-control btn btn-primary glyphicon glyphicon-search"></button>
              </div>
            </form>
          </div>
        </div>
        <div id="map"></div>
        <div id="findings" ng-show="showFindings">
          <div class="row">
            <div class="col-xs-1 col-sm-2 col-md-3"></div>
            <div class="col-xs-10 col-sm-8 col-md-6">
              <strong>Radius:</strong>
              <select ng-model="radius" class="form-control" ng-change="find()">
                <option value="8047">5 miles</option>
                <option value="16093">10 miles</option>
                <option value="24141">15 miles</option>
                <option value="32187">20 miles</option>
                <option value="40233">25 miles</option>
              </select>
            </div>
            <div class="col-xs-1 col-sm-2 col-md-3"></div>
            <div class="row">
              <div class="col-xs-12" style="text-align:center;">
                *Works with generic searches only
              </div>
            </div>
          </div>
          <p id="{{$index}}" ng-repeat="result in shortResults">
              <img ng-src="{{result.venue.categories[0].icon.prefix}}32{{result.venue.categories[0].icon.suffix}}" class="btn-success img-rounded">
              <strong>{{$index + 1}}. {{result.venue.name}} - {{result.venue.categories[0].name}}</strong>
              <br/>{{result.venue.location.formattedAddress[0]}}
              <br/>
              <a href="#top"><button ng-click="calculateAndDisplayRoute($index)" class="btn btn-primary">Get Directions</button></a>
              <a href="#top"><button ng-click="zoomToMarker($index)" class="btn btn-primary">Show on map</button></a>
          </p>
        </div>
        <div id="directions" ng-show="showDirections">
          <div class="row">
            <div class="col-xs-1 col-sm-2 col-md-3"></div>
            <div class="col-xs-10 col-sm-8 col-md-6" style="text-align:left;">
              <strong>Travel Mode:</strong>
              <select ng-model="travelMode" class="form-control" ng-change="checkForIndex()">
                <option>Driving</option>
                <option>Walking</option>
                <option>Bicycling</option>
              </select>
            </div>
            <div class="col-xs-1 col-sm-2 col-md-3"></div>
          </div>
        </div>
        <div class="text-success text-center">
          This site was made using the <a href="https://maps.google.com" target="_blank" class="text-primary">Google Maps</a>
          and <a href="https://foursquare.com" target="_blank" class="text-primary">Foursquare</a> API.
        </div>
      </nav>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="scripts/script.js"></script>
  </body>
</html>
