nav{
  margin-top: 15px;
  padding-bottom: 15px;
}
a:hover{
  text-decoration: none;
}
.glyphicon-home{
  margin: 15px 0;
  font-size: 2em;
}
form{
  overflow: hidden;
}
.glyphicon-search{
  margin-right: 20px;
}
.glyphicon{
  top: 0 !important;
}
button .icon-bar{
  margin: 5px 0;
}
#map{
  height: 400px;
  margin-bottom: 10px;
}
#directions{
  text-align: center;
}
#directions table{
  margin: auto;
  text-align: center;
  border: none;
}
input{
  margin: 5px 0;
}
img{
  float: right;
  margin: 5px 10px 0px 10px;
}
p{
  margin: 10px;
  border-bottom: 1px solid lightgray;
}
a button{
  margin: 5px 0 10px 0 !important;
}
.row{
  margin-bottom: 10px;
}
.text-center{
  margin-top: 10px;
}
